*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.modalBackground{
    width: 200rem;
    height: 100rem;
    background-color: rgba(200, 200, 200);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    
}

.modalContainer {
    width: 500px;
    height: 500px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    position: absolute;
}